In [2]:
import pandas as pd
data=pd.read_excel("C:/Users/MEDHA/Downloads/Telco-Customer-Churn.xlsx")

In [3]:
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

# 1. The number of customers owns their connection based on :
a. Gender

In [4]:
#1.a)
data['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

b. Citizenship

In [5]:
#1.b)
data['SeniorCitizen'].value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

# 2. The number of customers left their service:

In [6]:
data_churn=data[data['Churn']=='Yes']

a. Gender

In [7]:
data_churn['gender'].value_counts()

Female    939
Male      930
Name: gender, dtype: int64

b. Citizenship

In [8]:
data_churn['SeniorCitizen'].value_counts()

0    1393
1     476
Name: SeniorCitizen, dtype: int64

# 3. Preference of payment method based on :
a. Churn

In [9]:
data.groupby('Churn')['PaymentMethod'].value_counts()

Churn  PaymentMethod
No     Mailed check                 1304
       Electronic check             1294
       Credit card (automatic)      1290
       Bank transfer (automatic)    1286
Yes    Electronic check             1071
       Mailed check                  308
       Bank transfer (automatic)     258
       Credit card (automatic)       232
Name: PaymentMethod, dtype: int64

b. Contract

In [10]:
data.groupby('Contract')['PaymentMethod'].value_counts()

Contract        PaymentMethod
Month-to-month  Electronic check             1850
                Mailed check                  893
                Bank transfer (automatic)     589
                Credit card (automatic)       543
One year        Credit card (automatic)       398
                Bank transfer (automatic)     391
                Electronic check              347
                Mailed check                  337
Two year        Credit card (automatic)       581
                Bank transfer (automatic)     564
                Mailed check                  382
                Electronic check              168
Name: PaymentMethod, dtype: int64

# 4. Internet service preference by gender based on churn status.

In [11]:
data.groupby(['Churn','gender'])['InternetService'].value_counts()

Churn  gender  InternetService
No     Female  DSL                969
               Fiber optic        889
               No                 691
       Male    DSL                993
               Fiber optic        910
               No                 722
Yes    Female  Fiber optic        664
               DSL                219
               No                  56
       Male    Fiber optic        633
               DSL                240
               No                  57
Name: InternetService, dtype: int64

# 5. Explain the descriptive statistics of “TotalCharges” based on:
a. Gender

In [12]:
data.groupby('gender')['TotalCharges'].describe()

,count,mean,std,min,25%,50%,75%,max
gender,,,,,,,,
Female,3488.0,2289.338308,2276.695359,18.85,403.300,1389.05,3834.0625,8672.45
Male,3555.0,2291.680667,2273.095299,18.80,399.275,1406.00,3778.1000,8684.80

b. Contract

In [13]:
data.groupby('Contract')['TotalCharges'].describe()

,count,mean,std,min,25%,50%,75%,max
Contract,,,,,,,,
Month-to-month,3875.0,1369.254581,1613.879008,18.85,160.100,679.55,2066.50,8061.50
One year,1473.0,3038.377461,2233.477741,18.80,989.450,2658.40,4860.35,8684.80
Two year,1695.0,3746.752383,2582.454154,20.35,1280.125,3638.25,6044.30,8672.45

c. Payment Method

In [14]:
data.groupby('PaymentMethod')['TotalCharges'].describe()

,count,mean,std,min,25%,50%,75%,max
PaymentMethod,,,,,,,,
Bank transfer (automatic),1544.0,3083.566023,2360.362773,19.25,1052.3875,2479.500,4948.3375,8684.80
Credit card (automatic),1522.0,3074.920894,2410.536742,19.30,989.4000,2454.175,5016.5500,8670.10
Electronic check,2365.0,2090.868182,2155.435320,18.85,308.0500,1253.900,3340.5500,8564.75
Mailed check,1612.0,1083.236973,1509.101844,18.80,116.9375,473.675,1316.0000,8476.50